## Example environment for proto-go
# Use this when running locally to connect to Postgres created via docker-compose
DATABASE_URL=postgres://postgres:example@localhost:5432/gebrauchtwagen?sslmode=disable
